#contact-container{
	width: 100%;
	min-height: 25rem;
	height: 100%;
	background-color: aliceblue;
	padding: 1rem;
	padding-top: 6rem;
}

#contact-content{
	height: auto;
	min-height: 25rem;
	width: 100%;
	max-width: 38rem; 
	margin: 0 auto;
}

#contact-text{
	width: 100%;
}

#contact-header, #contact-paragraph{
	/*margin: 0 auto;*/
	width: 100%;
	text-align: center;
	margin-bottom: 1rem;
}

#contact-header{
	font-size: 1.7rem;
}

#contact-paragraph{
	font-size: 1.1rem;
}

#contact-flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	width: 100%;
	max-width: 35rem; 
	margin: 0 auto;

}
.contact-flex-item{
	width: 100%;
	text-align: center;
	padding-bottom: 2rem;
}
.contact-image-container{
	display: block;
	width: 5rem;
	height: 5rem;
	background-color: gray;
	margin: 0 auto;
	margin-bottom: 1rem;

}

.contact-flex-text{
	font-size: 1.1rem;
}

@media screen and (min-width: 1000px) {
	#contact-container{
		height: calc(100vh);
		padding-top: 7rem;
	}
	#contact-content{
		

	}
	#contact-header, #contact-paragraph{
		margin-bottom: 2rem;
	}
	.contact-flex-item{
		width: 50%;
		
	}
}
